@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #eeecec;
  --background-start-rgb: rgb(43, 43, 38);
  --background-end-rgb: #c7c7c7;
}
.previews h1{
 font-size: 6%;
}
.previews h2{
  font-size: 4.5%;
 }
 .previews h3,.previews p,.previews pre,.previews strong,.previews span{
  font-size: 4%;
 }
 .previews> h4{
  font-size: 3%;
 }
 .previews h5{
  font-size: 2%;
 }
 .previews h6{
  font-size: 1%;
 }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}
.ql-toolbar{
  background-color: var(--foreground-rgb);
  width: 1040px;
  min-height: 5rem;
  border-radius: 1.5%;
  
}

.ql-container, .ql-editor{
  min-height: 900px;
  width: 1040px;
  background-color: aliceblue;
  border-radius: 0.5%;
}

.previews{
  width: 12rem;
  padding:1rem;
  height:16rem;
  max-height: 16rem;
  
}
.previews:hover{
  opacity: 0.5;
}
#gallery{
  width: 80%;
}
.titles{
  font-weight: bold;
}

.docLi{
  width: 12rem;
  z-index: 100;
  
}
.docLi:hover{
  visibility: visible;

}

.viewDoc{
  min-height: 900px;
  min-width: 1040px;
}





